artifacts/
build/
out/
node_modules/
backend/addon/external/*
!backend/addon/external/readme.txt
!backend/addon/external/build_gtest.bat
!backend/addon/external/build_boost.bat
backend/node_modules/
*-lock.json
*.patch